################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BloggingAppAPI/.vs/BloggingAppAPI/v15/Server/sqlite3/storage.ide
